---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { sortByOrder } from '@/utils/content-collections';
import ozgurGokdemir from '@/assets/ozgur-gokdemir.png';
import MainLayout from '@/layouts/main-layout.astro';
import LinkButton from '@/components/link-button.astro';
import FeaturedProjectCard from '@/components/featured-project-card.astro';
import ContactViaEmail from '@/components/contact-via-email.astro';
import Separator from '@/components/separator.astro';
import FormField from '@/components/form-field.astro';
import FormLabel from '@/components/form-label.astro';
import FormInput from '@/components/form-input.astro';
import FormTextarea from '@/components/form-textarea.astro';
import Button from '@/components/button.astro';
import Frame from '@/components/frame.astro';
import ContactForm from '@/components/contact-form.astro';

const featuredProjects = await getCollection(
  'projects',
  ({ data }) => data.featured,
).then(sortByOrder);
---

<MainLayout
  title="Özgür Gökdemir — Frontend Developer"
  description="Özgür Gökdemir is a frontend developer specializing in building responsive and high-performance web applications using TypeScript, React, and Next.js."
>
  <section
    class="container flex flex-col gap-6 py-16 md:items-center md:gap-8 md:pb-40 md:pt-56"
  >
    <h1
      class="text-5xl font-semibold text-white md:text-center md:text-[5rem] md:leading-tight"
    >
      Hi, I’m Özgür Gökdemir.
      <br />
      I’m a frontend developer.
    </h1>
    <p class="text-xl font-semibold text-white/60">
      I build high-performance and responsive web applications.
    </p>
    <div class="flex items-center gap-4 pt-2 md:pt-5">
      <LinkButton href="/contact">
        <Icon name="heroicons:chat-bubble-left-ellipsis-20-solid" size={20} />
        Let's Talk
      </LinkButton>
      <LinkButton href="/projects?category=featured" variant="secondary">
        View my work
      </LinkButton>
    </div>
  </section>
  <section
    class="container grid gap-16 py-16 md:grid-cols-2 md:items-center md:gap-8 md:py-36"
  >
    <div class="flex flex-col items-start gap-6 md:mr-12 md:gap-8">
      <h2 class="text-4xl font-semibold text-white md:text-5xl">
        Get to know me.
      </h2>
      <p class="text-lg font-semibold text-white/60">
        I’m a frontend developer based in Türkiye, specializing in building
        dynamic web applications using TypeScript, React, and Next.js. I develop
        interactive features and optimize user experiences to deliver fast,
        efficient, and user-friendly solutions. Whether working independently or
        as part of a team, I aim to meet both business and user needs.
      </p>
      <LinkButton href="/about" variant="secondary" class="group gap-2">
        More about me
        <Icon
          name="heroicons:arrow-long-right-20-solid"
          size={20}
          class="text-emerald-400/60 transition-transform group-hover:translate-x-1"
        />
      </LinkButton>
    </div>
    <Frame border overlay>
      <Image
        src={ozgurGokdemir}
        alt="Özgür Gökdemir"
        width={500}
        height={500}
        class="w-full rounded-2xl bg-black/60 backdrop-blur-lg"
      />
    </Frame>
  </section>
  <section class="container flex flex-col gap-16 py-16 md:gap-24 md:py-36">
    <div class="flex flex-col items-start gap-6 md:gap-8">
      <h2 class="text-4xl font-semibold text-white md:text-5xl">
        A glimpse into my work.
      </h2>
      <p class="text-lg font-semibold text-white/60">
        Here are some projects I've loved working on.
      </p>
      <LinkButton href="/projects" variant="secondary" class="group gap-2">
        See all projects
        <Icon
          name="heroicons:arrow-long-right-20-solid"
          size={20}
          class="text-emerald-400/60 transition-transform group-hover:translate-x-1"
        />
      </LinkButton>
    </div>
    <ul class="grid grid-cols-1 gap-6 md:grid-cols-2 md:gap-8">
      {
        featuredProjects.map((project) => (
          <li class="md:even:-translate-y-36">
            <FeaturedProjectCard
              href={`/projects/${project.slug}`}
              title={project.data.title}
              description={project.data.description}
              image={project.data.image}
              color={project.data.color}
            />
          </li>
        ))
      }
    </ul>
  </section>
  <section
    class="container grid gap-6 py-16 md:grid-cols-2 md:items-center md:gap-8 md:py-36"
  >
    <div class="flex flex-col gap-6 md:items-start md:gap-8">
      <h2 class="text-4xl font-semibold text-white md:text-5xl">
        Get in touch.
      </h2>
      <p class="text-lg font-semibold text-white/60">
        I’m open to opportunities—let’s connect.
      </p>
      <ContactViaEmail>
        <br class="hidden md:block" />
      </ContactViaEmail>
    </div>
    <Separator class="md:hidden" />
    <Frame border={{ lg: true }}>
      <ContactForm
        class="grid gap-6 lg:rounded-2xl lg:bg-black/60 lg:p-8 xl:grid-cols-2"
      >
        <FormField>
          <FormLabel for="name">Name</FormLabel>
          <FormInput
            type="text"
            name="name"
            id="name"
            placeholder="John Doe"
            required
          />
        </FormField>
        <FormField>
          <FormLabel for="email">Email</FormLabel>
          <FormInput
            type="email"
            name="email"
            id="email"
            placeholder="example@gmail.com"
            required
          />
        </FormField>
        <FormField class="col-span-full">
          <FormLabel for="message">Message</FormLabel>
          <FormTextarea
            rows={5}
            name="message"
            id="message"
            placeholder="Your message."
            required
          />
        </FormField>
        <Button type="submit" class="mt-3 xl:col-start-2">
          Send message
        </Button>
      </ContactForm>
    </Frame>
  </section>
</MainLayout>
