---
import MainLayout from '@/layouts/MainLayout.astro';
import Button from '@/components/Button.astro';
import Project from '@/components/Project.astro';
import TechCard from '@/components/TechCard.astro';
import InputField from '@/components/InputField.astro';

const HIGHLIGHTED_PROJECTS = [
  {
    image: '/assets/images/nextjs-ecommerce.png',
    title: 'Next.js E-Commerce',
    source: 'https://github.com/ozgurgokdemir/nextjs-ecommerce',
    website: 'https://nextjs-ecommerce-taupe-six.vercel.app/',
  },
  {
    image: '/assets/images/react-restaurant.png',
    title: 'React Restáurant',
    source: 'https://github.com/ozgurgokdemir/react-restaurant',
    website: null,
  },
];

const TECHNOLOGIES = [
  {
    title: 'JavaScript',
    icon: 'simple-icons:javascript',
    color: '#F7DF1E',
  },
  {
    title: 'TypeScript',
    icon: 'simple-icons:typescript',
    color: '#3178C6',
  },
  {
    title: 'React',
    icon: 'simple-icons:react',
    color: '#61DAFB',
  },
  {
    title: 'Next.js',
    icon: 'simple-icons:nextdotjs',
    color: 'hsl(var(--color-neutral))',
  },
  {
    title: 'Redux',
    icon: 'simple-icons:redux',
    color: '#764ABC',
  },
  {
    title: 'React Query',
    icon: 'simple-icons:react',
    color: '#FF4154',
  },
  {
    title: 'HTML5/CSS3',
    icon: 'simple-icons:html5',
    color: '#E34F26',
  },
  {
    title: 'SASS',
    icon: 'simple-icons:sass',
    color: '#CC6699',
  },
  {
    title: 'Tailwind CSS',
    icon: 'simple-icons:tailwindcss',
    color: '#06B6D4',
  },
  {
    title: 'Chakra UI',
    icon: 'simple-icons:chakraui',
    color: '#319795',
  },
  {
    title: 'Framer Motion',
    icon: 'simple-icons:framer',
    color: '#0055FF',
  },
  {
    title: 'Storybook',
    icon: 'simple-icons:storybook',
    color: '#FF4785',
  },
  {
    title: 'Supabase',
    icon: 'simple-icons:supabase',
    color: '#3FCF8E',
  },
  {
    title: 'Prisma',
    icon: 'simple-icons:prisma',
    color: 'hsl(var(--color-neutral))',
  },
  {
    title: 'PostgreSQL',
    icon: 'simple-icons:postgresql',
    color: '#4169E1',
  },
  {
    title: 'MongoDB',
    icon: 'simple-icons:mongodb',
    color: '#47A248',
  },
  {
    title: 'Strapi',
    icon: 'simple-icons:strapi',
    color: '#4945FF',
  },
  {
    title: 'Stripe',
    icon: 'simple-icons:stripe',
    color: '#635BFF',
  },
  {
    title: 'Astro',
    icon: 'simple-icons:astro',
    color: '#FF5D01',
  },
  {
    title: 'Vite',
    icon: 'simple-icons:vite',
    color: '#646CFF',
  },
  {
    title: 'Jest',
    icon: 'simple-icons:jest',
    color: '#C21325',
  },
  {
    title: 'ESLint',
    icon: 'simple-icons:eslint',
    color: '#4B32C3',
  },
  {
    title: 'Git',
    icon: 'simple-icons:git',
    color: '#F05032',
  },
  {
    title: 'Figma',
    icon: 'simple-icons:figma',
    color: '#F24E1E',
  },
];
---

<MainLayout>
  <section
    id="hero"
    aria-label="Hero"
    class="container flex flex-col items-center gap-8 pb-16 pt-[6.5rem] text-center md:pt-32"
  >
    <h1
      class="bg-gradient-to-b from-neutral/70 to-neutral bg-clip-text font-secondary text-[1.8125rem] font-semibold leading-tight text-transparent xs:text-[2.25rem] sm:text-[3rem] md:text-[4rem] lg:text-heading-display"
    >
      Hi, I'm a <span class="text-accent">passionate</span> frontend developer
    </h1>
    <p class="text-body-base-400 text-neutral/70 md:text-[1.5rem]">
      I specialize in building responsive and performant web applications.
    </p>
    <div class="mt-4 flex w-full flex-col justify-center gap-6 sm:flex-row">
      <Button
        href="#contact"
        text="Let's Talk"
        icon="chat-bubble"
        variant="accent"
      />
      <div
        class="flex items-center justify-between before:order-2 before:h-6 before:w-px before:bg-neutral/10 sm:hidden"
      >
        <Button
          href="https://www.linkedin.com/in/ozgurgokdemir/"
          text="LinkedIn"
          icon="simple-icons:linkedin"
          variant="ghost"
          external={true}
          class="order-1"
        />
        <Button
          href="https://github.com/ozgurgokdemir/"
          text="GitHub"
          icon="simple-icons:github"
          variant="ghost"
          external={true}
          class="order-3"
        />
      </div>
      <Button
        href="https://www.linkedin.com/in/ozgurgokdemir/"
        text="LinkedIn"
        icon="simple-icons:linkedin"
        external={true}
        class="hidden sm:inline-block"
      />
      <Button
        href="https://github.com/ozgurgokdemir/"
        text="GitHub"
        icon="simple-icons:github"
        external={true}
        class="hidden sm:inline-block"
      />
    </div>
  </section>
  <section
    id="projects"
    aria-label="Projects"
    class="container flex flex-col gap-16 py-16"
  >
    <h2
      class="text-center font-secondary text-heading-sm sm:text-heading-md md:text-heading-lg"
    >
      Highlighted Projects
    </h2>
    {
      HIGHLIGHTED_PROJECTS.map((project, index) => (
        <Project
          image={project.image}
          title={project.title}
          source={project.source}
          website={project.website}
          highlighted={index === 0}
        />
      ))
    }
  </section>
  <section
    id="skills"
    aria-label="Skills"
    class="container flex flex-col gap-16 py-16"
  >
    <h2
      class="text-center font-secondary text-heading-sm sm:text-heading-md md:text-heading-lg"
    >
      Skills & Expertise
    </h2>
    <ul class="grid grid-cols-3 gap-4 sm:grid-cols-4 sm:gap-6 lg:grid-cols-6">
      {
        TECHNOLOGIES.map(({ title, icon, color }) => (
          <li>
            <TechCard {title} {icon} {color} />
          </li>
        ))
      }
    </ul>
  </section>
  <section
    id="contact"
    aria-label="Contact"
    class="container flex flex-col gap-16 py-16"
  >
    <h2
      class="text-center font-secondary text-heading-sm sm:text-heading-md md:text-heading-lg"
    >
      Get in Touch
    </h2>
    <form class="mx-auto grid w-full max-w-[536px] gap-6 sm:grid-cols-2">
      <InputField id="name" label="Name" type="text" />
      <InputField id="email" label="Email" type="email" />
      <InputField
        id="message"
        label="Message"
        type="textarea"
        class="sm:col-span-2"
      />
      <Button
        type="submit"
        text="Send Message"
        variant="accent"
        class="sm:col-start-2"
      />
    </form>
  </section>
</MainLayout>
