---
import { getCollection } from 'astro:content';
import Logo from '@/components/logo.astro';
import NavBar from '@/components/nav-bar.astro';
import NavLink from '@/components/nav-link.astro';
import SocialLink from '@/components/social-link.astro';
import MobileMenu from '@/components/mobile-menu.astro';

const navigation = await getCollection('navigation');

const contact = await getCollection(
  'contact',
  ({ data }) => data.id !== 'email',
);
---

<header
  class="before:bg-background/80 sticky top-0 z-30 before:absolute before:inset-0 before:-z-10 before:backdrop-blur-lg"
  transition:persist
>
  <div
    class="h-header mx-auto grid max-w-7xl grid-cols-2 items-center border-b px-4 md:grid-cols-[1fr_auto_1fr] md:px-6 lg:px-8"
  >
    <Logo class="w-fit" />
    <NavBar
      orientation="horizontal"
      class="hidden place-content-center md:inline-block"
    >
      <ul class="flex items-center gap-1">
        {
          navigation.map(({ data }) => (
            <li>
              <NavLink href={data.pathname} section={data.id}>
                {data.text}
              </NavLink>
            </li>
          ))
        }
      </ul>
    </NavBar>
    <div class="inline-flex place-content-end items-center gap-2">
      {
        contact.map(({ data }, index) => (
          <>
            <SocialLink href={data.url} alt={data.title} icon={data.icon} />
            {index !== contact.length - 1 && (
              <span class="bg-border h-4 w-px" />
            )}
          </>
        ))
      }
      <span class="bg-border h-4 w-px md:hidden"></span>
      <MobileMenu class="-mr-2 md:hidden" />
    </div>
  </div>
</header>
