---
import { getCollection } from 'astro:content';
import { sortByOrder } from '@/utils/content-collections';
import MainLayout from '@/layouts/main-layout.astro';
import FeaturedProjectCard from '@/components/featured-project-card.astro';

const projects = await getCollection('projects').then(sortByOrder);
---

<MainLayout
  title="Projects - Özgür Gökdemir"
  description="Explore my web development projects, including ecommerce sites, SaaS apps, and responsive websites built with React, Next.js, and Tailwind CSS."
>
  <section class="mx-auto max-w-7xl px-4 py-16 md:px-6 md:py-32 lg:px-8">
    <h1
      class="text-4xl font-semibold tracking-tight md:text-center md:text-5xl lg:text-6xl"
    >
      Take a look at the projects <br class="hidden md:block" /> I’ve been building.
    </h1>
  </section>
  <section
    class="mx-auto grid max-w-7xl gap-4 px-4 pb-16 md:gap-2 md:px-6 md:pb-24 lg:px-8"
  >
    <ul class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {
        projects.map(({ id, data }) => (
          <li>
            <FeaturedProjectCard
              href={`/projects/${id}`}
              title={data.title}
              description={data.description}
              image={data.image}
              color={data.color}
            />
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
