---
import '@fontsource-variable/inter';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@/styles/globals.css';

import { SEO } from 'astro-seo';
import Header from '@/components/Header.astro';
import Menu from '@/components/Menu.astro';
import Footer from '@/components/Footer.astro';

type Props = {
  title?: string;
  description?: string;
};

const {
  title = 'Özgür Gökdemir - Frontend Developer Portfolio',
  description = 'Özgür Gökdemir is a frontend developer proficient in HTML, CSS, JavaScript, React, Next.js, Tailwind CSS, and TypeScript, specializing in building responsive web apps.',
} = Astro.props;

const NAVIGATION_LINKS = [
  { href: '#', text: 'Home' },
  { href: '#projects', text: 'Projects' },
  { href: '#skills', text: 'Skills' },
  { href: '#blog', text: 'Blog' },
  { href: '#contact', text: 'Contact' },
];

const URL = 'https://ozgurgokdemir.com/';
---

<html lang="en">
  <head>
    <SEO
      {title}
      {description}
      canonical={URL}
      charset="utf-8"
      openGraph={{
        basic: {
          title:
            'Özgür Gökdemir - Frontend Developer: Crafting Seamless User Experiences',
          type: 'website',
          image: '/assets/images/ozgur-gokdemir.png',
          url: URL,
        },
      }}
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body
    class="bg-primary font-primary text-body-base-400 text-neutral transition-colors duration-300"
  >
    <Header links={NAVIGATION_LINKS} />
    <Menu links={NAVIGATION_LINKS} />
    <main>
      <slot />
    </main>
    <Footer links={NAVIGATION_LINKS} />
  </body>
</html>
