---
import '@/styles/globals.css';
import { ViewTransitions } from 'astro:transitions';
import Header from '@/components/header.astro';
import Footer from '@/components/footer.astro';
import Toast from '@/components/toast.astro';

type Props = {
  title: string;
};

const { title } = Astro.props;

const NAVIGATION_LINKS = [
  {
    href: '/',
    text: 'Home',
  },
  {
    href: '/about',
    text: 'About',
  },
  {
    href: '/projects',
    text: 'Projects',
  },
  {
    href: '/contact',
    text: 'Contact',
  },
];

const SOCIAL_LINKS = [
  {
    href: 'https://linkedin.com/in/ozgurgokdemir',
    alt: 'LinkedIn',
    icon: 'fa6-brands:linkedin-in',
  },
  {
    href: 'https://github.com/ozgurgokdemir',
    alt: 'GitHub',
    icon: 'simple-icons:github',
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="preload"
      href="fonts/manrope.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <ViewTransitions />
  </head>
  <body class="grid bg-black font-sans text-base font-medium text-white/60">
    <Header navigationLinks={NAVIGATION_LINKS} socialLinks={SOCIAL_LINKS} />
    <main class="min-h-[calc(100dvh-var(--header-height))]">
      <slot />
    </main>
    <Footer socialLinks={SOCIAL_LINKS} />
    <Toast />
  </body>
</html>
